<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Orange题库后台管理系统</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/modules/laydate/default/laydate.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/modules/layer/default/layer.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/modules/code.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/jquery/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript"  th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript"  th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript"  th:src="@{/layui/lay/modules/form.js}"></script>
    <script type="text/javascript"  th:src="@{/layui/lay/modules/layer.js}"></script>
</head>
<body  id="loginbody">
<div class="loginbox" style="width: 400px;height: 300px;margin: 200px auto; background-color: #B2B2B2; opacity: 0.5;">
    <form class="layui-form"  style="padding-top: 50px;width: 330px">
        <div class="layui-form-item" style="padding-top: 10px">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" id="username" name="username" required  lay-verify="required" placeholder="请输入用户名!" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密  码</label>
            <div class="layui-input-block">
                <input type="password" id="password" name="password" required lay-verify="required" placeholder="请输入密码!" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">验证码</label>
            <div class="layui-input-block" >
                <input type="text" id="captchaCode" name="captchaCode" style="width: 120px;"  placeholder="请输入验证码" class="layui-input">
                <a onclick="javascript:changImg();" href="javascript:void(0);">
                <img alt="验证码" id="codePic" th:src="@{/getGifCode}" οnclick="change()" style="width: 100px;"></img>
                </a>
            </div>

        </div>


    </form>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn"  onclick="submit()">登录</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>

<!--            http%3A%2F%2Fczqsg.top%3A8081%2Fcheck-->

            <a href="https://openauth.alipay.com/oauth2/publicAppAuthorize.htm?app_id=2019092067599567&scope=auth_user&redirect_uri=http%3A%2F%2Fczqsg.top%3A8081%2Fdemo%2Fcheck&state=init">支付宝登录</a>
        </div>
    </div>
</div>
</body>
<style type="text/css">
    #captchaCode{
        float: left;
    }
    #codePic{
        float: right;
        display: inline-block;
        cursor: pointer;
    }
    body{
        background-image: url("img/loginbg.jpg");
        background-repeat: no-repeat;
        background-size: 100%,100%;
    }
    .loginbox{
        -moz-box-shadow:2px 2px 5px #333333;
        -webkit-box-shadow:2px 2px 5px #333333;
        box-shadow:2px 2px 5px #333333;
    }

</style>
<script>
    function changImg() {
        var img = document.getElementById("codePic");
        var d = new Date();
        var time = d.getTime();//如果没有这个,下面的img.src = path + "gifCaptcha?" + time;不会起作用，因为浏览器的缓存技术，图片可能并不会刷新

        img.src = "";//解决火狐下验证码刷不出的问题
        img.src = ctx+ "getGifCode?" + time;
        //?号后面的东西是通过get方式传递的
        // $("#codePic").attr("src", ctx+"/getGifCode?"+time);
    }

    function submit() {
        prefix=ctx;
        var userid=$(" #username ").val();
        var  pwd=$(" #password ").val();
        var  captchaCode=$(" #captchaCode ").val();
        $.ajax({
            type: 'POST',
            url: prefix+'/login',
            data: {userid:userid,pwd:pwd,captchaCode:captchaCode},
            async: false,
            success: function (data) {
                layer.msg( data.message, function(){
                    if(data.code>0)
                        location.href = prefix+'index';
                });
            }});
    }
    var ctx = [[@{/}]];
</script>
</html>