<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.problem.score.dao.ScoreMapper">

    <!--插入历史最高-->
    <insert id="addScore" parameterType="java.util.Map">
        insert into `score` (userid,subject,score) values(
        <if test="userid!=null and userid!=''">
            #{userid},
        </if>
        <if test="subject!=null and subject!=''">
            #{subject},
        </if>
        <if test="score!=null and score!=''">
            #{score})
        </if>
    </insert>
    <!--更新历史最高-->
    <update id="editScore" parameterType="java.util.Map">
        update  `score` set
        <if test="userid!=null and userid!=''">
            score=#{score}
        </if>
        where userid=#{userid} and subject=#{subject}
    </update>

    <!-- 查询历史最高-->
    <select id="findScore" parameterType="java.util.Map" resultType="com.example.demo.problem.score.domain.Score">
            SELECT * FROM `score` where subject=#{subject} and userid=#{userid};
    </select>

    <!--添加错题-->
    <insert id="addError" parameterType="java.util.Map">
        insert into `error` (userid,problemid) values(
        <if test="userid!=null and userid!=''">
            #{userid},
        </if>
        <if test="problemid!=null and problemid!=''">
            #{problemid})
        </if>
    </insert>

    <!--查询错题本-->
    <select id="findError" parameterType="java.util.Map" resultType="com.example.demo.problem.score.domain.ErrorTest">
            SELECT error.id as id,userid,problemid,type,stem,`subject`,option1,option2,option3,option4,answer FROM
            `error` join `problems` on error.problemid=problems.id  where subject=#{subject} and userid=#{userid};
    </select>


</mapper>
